<?xml version="1.0" encoding="utf-8"?>
<QuestData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="11969">
  <Title>Springing the Trap</Title>
  <Description>We owe this opportunity in great part to your efforts, $n.$b$bIt is only fitting that you initiate the attack on Malygos.$b$bTake this spark and use it to light the signal fire northwest of the Nexus. Keristrasza will direct you from there.</Description>
  <LogDescription>Raelorasz wants you to use Raelorasz' Spark at the signal fire in Coldarra.</LogDescription>
  <CompletionText>Did you meet with Keristrasza?</CompletionText>
  <RewardText>We have dealt a blow to Malygos, but it has come at a high price.</RewardText>
  <Objectives>
    <Objective id="262478">Malygos Lured</Objective>
  </Objectives>
</QuestData>