name: Download the latest translations
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

permissions: write-all

jobs:
  download-translations-with-crowdin:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
          
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Checkout DevTools
        uses: actions/checkout@v3
        with:
          ref: feature/refactoring
          repository: Cancri55E/WowUkrainizer-DevTools
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          path: DevTools

      - name: Restore DevTools NuGet packages
        run: dotnet restore ${{ github.workspace }}/DevTools/WowUkrainizer.DevTools/WowUkrainizer.DevTools.csproj

      - name: Build DevTools project
        run: dotnet build ${{ github.workspace }}/DevTools/WowUkrainizer.DevTools/WowUkrainizer.DevTools.csproj --configuration Release --no-restore

      - name: Download the latest translations from Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          export_only_approved: false
          create_pull_request: false
          push_translations: false
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}

      - name: Run DevTools project and display output
        run: |
          OUTPUT=$(dotnet run --project ${{ github.workspace }}/DevTools/WowUkrainizer.DevTools/WowUkrainizer.DevTools.csproj --configuration Release --mode "update-translation" --connectionString "Data Source = '${{ github.workspace }}/Data.db'" --folder "${{ github.workspace }}/uk")
          echo "$OUTPUT"
          echo "output=$OUTPUT" >> $GITHUB_OUTPUT

      - name: Commit translations
        id: commit_translations
        uses: EndBug/add-and-commit@v9
        with:
          message: Update Data.db and uk/*.json with the latest translations from Crowdin
          committer_name: GitHub Actions
          committer_email: actions@github.com
          add: 'Data.db uk/*'
          
      - name: Trigger WowUkrainizer repo to publish alpha version
        if: steps.commit_translations.outputs.committed == 'true'
        run: |
          curl -X POST \
          -H "Authorization: token ${{ secrets.REPO_ACCESS_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/Cancri55E/WowUkrainizer/actions/workflows/package.yml/dispatches \
          -d '{"ref":"master"}'